#Phone {
    position: absolute;
    top: 528px;
    left: 835px;
    width: 100px;
    height: auto;
    z-index: 4;
}

#notecard {
    position: absolute;
    top: 600px;
    left: 1000px;
    width: 150px;
    height: auto;
    z-index: 5;
